
body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
table, th, td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th{
    background-color: #004F9F;
    color: white;
}

tr:nth-child(even){
    background-color: #f2f2f2
}
.content{
    background-color: #004F9F;
    padding-bottom: 5px;
}
.contentCO{
    max-width: 800px;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.list-cursos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contentCD{
    max-width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    
}

.corpoD{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


.list-e{
    column-count: 2;
    column-gap: 90px;
    list-style-type: none;
    padding: 15px;
}

a {
    text-decoration: none;
  }

.cp_image > a:hover{
    color: black;
    background: lightgrey;
    padding: 10px;
    border-radius: 20px;
}

.curso{
    max-width: 350px;
    width: 50%;
    background-color: #004182;
    margin: 5px;
    padding: 15px;
    border-radius: 2px;
    color: white;
    transition: all .8s;
}

a:not(.button):hover {
  text-decoration: underline;
}

.button {
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 10px;
    transition: all .3s;
    margin: 0 auto;
    display: block;
    background-color: #004F9F;
    color: white;
    max-width: 200px;
    
}

.button:hover{
    background-color: rgb(2, 121, 240);
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

.contentCD .caixa {
    margin: 5px;
    width: 100px;
    padding: 15px;
}

.contentCD .caixa .foto {
  width: 95px;
  height: 95px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 200px;
}

.button2 {
    display: block;
    
    margin-top: 10px;
    text-align: center;
    background-color: #004182;
    color: white;
  }
  
  .button2:hover {
    background-color: rgba(0, 65, 130, .8);
  }

  .footer {
    background-color: #004F9F;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}
